/* 한글 폰트 ChosunGu를 사용하기 위한 폰트 페이스 정의 */
@font-face {
    font-family: 'ChosunGu'; /* 폰트 이름 설정 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff'); /* 폰트 파일 경로 및 형식 */
    font-weight: normal; /* 기본 글자 굵기 */
    font-style: normal; /* 기본 글자 스타일 */
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 페이드-인 애니메이션 정의 */
@keyframes fade-in {
    from {
        opacity: 0; /* 초기 투명도 설정 */
        transform: translateY(20px); /* 아래에서 위로 이동 시작 */
    }
    to {
        opacity: 1; /* 최종 투명도 설정 */
        transform: translateY(0); /* 원래 위치로 이동 */
    }
}

/* 페이드-인 애니메이션 적용 */
.fade-in {
    opacity: 0; /* 초기 투명도 설정 */
    animation: fade-in 1s ease forwards; /* 애니메이션 1초 동안 진행 */
}

.fade-in.section-style2 {
    min-height: 915px;  /* 섹션 최소 높이 */
    height: auto;  /* 내용에 맞게 자동 높이 조정 */
    background: linear-gradient(to bottom, rgba(246, 195, 176, 0.67), rgba(241, 137, 61, 0.85)); /* 그라데이션 배경 */
}



.fade-in.section-style3 {
    align-content: center;
    min-height: 910px;  /* 섹션 최소 높이 */
    height: auto;  /* 내용에 맞게 자동 높이 조정 */
    background-color: #fff;  /* 배경색을 흰색으로 설정 */
    border: 2px solid #d1d1d1;  /* 테두리 */
    padding: 20px;  /* 내부 여백 */
    font-family: 'Courier New', Courier, monospace;  /* 타자기 폰트 스타일 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 부드러운 그림자 */
    position: relative;  /* 내부 콘텐츠의 상대적 위치 */
    overflow: auto;  /* 내용이 넘칠 경우 스크롤 가능 */
    background-image: linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);  /* 줄무늬 배경 */
    background-size: 100% 20px;  /* 줄의 간격을 20px로 설정 */
}

/* 메모장의 텍스트 스타일 */
.fade-in.section-style3 p {
    line-height: 1.9;  /* 텍스트 줄 간격 */
    color: #333;  /* 텍스트 색상 */
}

.fade-in.section-style4 {
    align-content: center;
    min-height: 1000px; /* 섹션 최소 높이 */
}

.fade-in.section-style4 {
    background-size: cover; /* 섹션 크기에 맞게 이미지 크기 조정 */
    background-position: center; /* 배경 이미지의 중앙 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    min-height: 1000px; /* 섹션 최소 높이 */
    display: flex; /* 내부 콘텐츠 정렬을 위한 flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
    padding: 20px; /* 텍스트와 화면 가장자리 간격 */
}





/* 페이드-인 애니메이션 후 상태 */
.fade-in.visible {
    opacity: 1; /* 투명도 완전하게 보이도록 설정 */
}

/* 웹 페이지의 기본 스타일을 설정 */
body {
    margin: 0; /* 페이지 외부 여백 제거 */
    padding: 0; /* 페이지 내부 여백 제거 */
    background-color: #ffffff; /* 배경색 흰색으로 설정 */
}

/* 메인 컨테이너의 스타일 설정 */
main {
    flex-direction: column; /* 내부 요소들을 수직으로 배열 */
    align-items: center; /* 요소들을 가운데 정렬 */
    color: #333; /* 텍스트 색상 설정 */
}

/* 섹션 스타일 */
section {
    padding: 20px; /* 내부 여백 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 부가 텍스트 스타일 설정 */
.subtext {
    display: block; /* 블록 요소로 설정 */
    margin-top: 10px; /* 위쪽 여백 추가 */
}

/* 첫 번째 섹션의 추가 스타일 */
.section-one {
    min-height: 735px;  /* 섹션 최소 높이 */
    margin-top: 150px; /* 상단 여백 설정 */
    padding-top: 20px; /* 추가 상단 여백 */
}

/* 이미지 컨테이너 스타일 */
.image-container {
    margin-top: -60px; /* 위쪽 간격을 음수로 설정하여 위치 조정 */
}

/* 텍스트 컨테이너 스타일 */
.text-container {
    margin-top: -100px; /* 위쪽 간격을 음수로 설정하여 위치 조정 */
}

/* 큰 소개글 스타일 */
h1 {
    text-align: center; /* 텍스트를 중앙 정렬 */
    color: #000000; /* 텍스트 색상 검정 */
    font-family: 'ChosunGu', Arial, sans-serif; /* 폰트 설정 */
    font-size: 50px; /* 글자 크기 */
    font-weight: 600; /* 글자 두께 설정 */
    margin-top: -50px; /* 위쪽 간격을 음수로 설정하여 위치 조정 */
}

/* 작은 소개글 스타일 */
.highlight-text {
    color: #000000; /* 텍스트 색상 검정 */
    font-family: 'ChosunGu', Arial, sans-serif; /* 폰트 설정 */
    margin-top: -10px; /* 위쪽 간격을 음수로 설정 */
    font-weight: 300; /* 얇은 글자 두께 */
    line-height: 1.6; /* 줄 간격 설정 */
    font-size: 23px; /* 글자 크기 설정 */
    margin-bottom: 100px; /* 아래쪽 간격 설정 */
}
/* 강조 텍스트 스타일 (두꺼운 폰트 사용) */
.highlight2-text {
    flex-direction: column; /* 자식 요소를 수직으로 배열 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    margin-top: 250px; /* 상단 여백 250px 설정 */
    font-family: 'KyoboHand', Arial, sans-serif; /* 폰트 설정 */
    font-size: 60px; /* 텍스트 크기를 50px로 설정 */
    font-weight: 500; /* 폰트 두께를 중간 정도로 설정 */
    color: #000000; /* 텍스트 색상을 검정색으로 설정 */
}

/* 2 */
.highlight2-text span {
    display: block; /* 각 줄을 세로로 배열 */
    margin-bottom: 20px; /* 줄 간격을 20px로 설정 */
}

/* 3 */
.highlight3-text {
    flex-direction: column; /* 자식 요소를 수직으로 배열 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    margin-top: 90px; /* 상단 여백 130px 설정 */
    font-family: 'KyoboHand', Arial, sans-serif; /* 폰트 설정 */
    font-size: 20px; /* 텍스트 크기를 26px로 설정 */
    font-weight: 100; /* 폰트 두께를 얇게 설정 */
    color: #000000; /* 텍스트 색상을 검정색으로 설정 */
}
/* 작은 제목 스타일 */
h2 {
    color: #000000; /* 텍스트 색상 검정 */
    font-weight: 900; /* 글자 두께를 매우 두껍게 설정 */
    font-family: 'KyoboHand', Arial, sans-serif; /* 폰트 설정 */
    font-size: 60px;
}



/* 카드 컨테이너 스타일 */
.card-container {
    display: flex; /* 플렉스박스 적용 */
    flex-direction: column; /* 요소를 세로로 배열 */
    align-items: center; /* 가운데 정렬 */
}

/* 카드 스타일 */
.card {
    margin-top: 300px;
    padding: 20px;  /* 카드 내부 여백 */
    max-width: 300px;  /* 카드의 최대 너비 */
    width: 100%;  /* 카드의 너비를 100%로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.card-images {
    display: flex; /* Flexbox를 사용해 이미지 나란히 배치 */
    justify-content: center; /* 이미지 가운데 정렬 */
    gap: 100px; /* 이미지 간격 설정 */
    margin-bottom: 30px; /* 이미지와 텍스트 사이 여백 */
}

.card-image {
    margin-top: -150px;
    width: 550px; /* 각 이미지의 고정 너비 */
    height: auto; /* 비율 유지 */
    border-radius: 8px; /* 이미지 모서리를 둥글게 */
}

.slick-slide {
    display: inline-block; /* 슬라이드 아이템을 인라인 블록으로 설정하여 가로로 배치 */
    width: auto; /* 자동 크기 조정 */
}

@font-face {
    font-family: 'RixXladywatermelonR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* 카드의 제목 스타일 */
.card h2 {
    font-size: 30px; /* 글자 크기를 1.5em으로 설정 */
    margin-bottom: 10px; /* 아래쪽 여백 설정 */
    color: #000000; /* 텍스트 색상을 어두운 회색으로 설정 */
    font-family: 'RixXladywatermelonR', Arial, sans-serif; /* 폰트 설정 */
}

/* 카드 설명 텍스트 스타일 */
.explain-text {
    color: #ffffff; /* 텍스트 색상 연한 회색 */
    font-family: 'RixXladywatermelonR', Arial, sans-serif; /* 폰트 설정 */
    margin-top: 30px; /* 위쪽 여백 설정 */
    font-weight: 300; /* 얇은 글자 두께 */
    line-height: 1.6; /* 줄 간격 설정 */
    font-size: 22px; /* 글자 크기 */
    margin-bottom: 100px; /* 아래쪽 여백 설정 */
}


/* 버튼 기본 스타일 */
button {
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    background-color: #ea7824; /* 버튼 배경색 주황색으로 설정 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 4px; /* 버튼 모서리를 둥글게 설정 */
    color: white; /* 텍스트 색상 흰색으로 설정 */
    font-size: 1em; /* 글자 크기 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 추가 */
    font-family: 'ChosunGu', Arial, sans-serif; /* 폰트 설정 */
}

/* 버튼 호버 스타일 */
button:hover {
    background-color: #ea7824; /* 호버 시 배경색 유지 */
}

/* 리스트 스타일 */
ul {
    list-style-type: disc; /* 리스트의 항목 앞에 디스크 모양 추가 */
    padding-left: 20px; /* 리스트 항목 내부 여백 설정 */
    color: #000000; /* 텍스트 색상을 회색으로 설정 */

}

/* 리스트 항목 스타일 */
li {
    margin: 8px 0; /* 위아래 간격 설정 */
    color: #515050; /* 텍스트 색상을 회색으로 설정 */
    font-family: 'KyoboHand', Arial, sans-serif; /* 폰트 설정 */
    font-size: 30px;
    list-style-type: none;
    line-height: 2.5; /* 줄 간격을 넓혀줍니다. 필요에 따라 숫자를 조정하세요. */
}

/* 플렉스 레이아웃 스타일 */
.flex-layout {
    display: flex; /* 플렉스박스 적용 */
    justify-content: space-around; /* 내부 요소들을 좌우로 균등 분배 */
    width: 100%; /* 레이아웃 너비를 화면 전체로 설정 */
}

/* 플렉스 레이아웃 내 카드 스타일 */
.flex-layout .card {
    flex: 1; /* 동일한 크기로 분배 */
    margin: 0 10px; /* 좌우 여백 설정 */
}



/* 스크롤 시 고정되는 스타일 (Sticky Wrapper) */
.sticky-wrapper {
    position: sticky; /* 스크롤 시 고정 위치 */
    top: 0; /* 화면 상단에 고정 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    background-color: #ffffff; /* 배경색 흰색 */
    padding: 0; /* 내부 여백 제거 */
    margin: 0; /* 외부 여백 제거 */
}

/* 버튼 컨테이너 스타일 */
.button-container {
    display: flex; /* 버튼들을 가로로 정렬 */
    justify-content: center; /* 버튼들을 중앙에 정렬 */
    gap: 100px; /* 버튼들 사이 간격을 100px로 설정 */
    padding: 0; /* 내부 여백 제거 */
    margin-top: -15px; /* 컨테이너의 상단 마진을 -35px로 설정 */
}

/* 버튼 스타일 */
.button-container button {
    background: none; /* 버튼의 배경 제거 */
    border: none; /* 버튼 테두리 제거 */
    color: #938e8e; /* 텍스트 색상을 연한 회색으로 설정 */
    font-size: 15px; /* 텍스트 크기 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    font-family: 'ChosunGu', Arial, sans-serif; /* 폰트 설정 */
    font-weight: 600; /* 폰트 두께를 굵게 설정 */
    position: relative; /* 가상 요소 위치 조정을 위해 상대적 위치 설정 */
    transition: color 0.3s ease; /* 텍스트 색상이 부드럽게 전환되도록 설정 */
}

/* 버튼 호버 효과 */
.button-container button:hover {
    color: #000; /* 호버 시 텍스트 색상을 검정색으로 변경 */
}

/* 버튼 밑줄 스타일 (가상 요소) */
.button-container button::after {
    content: ''; /* 빈 가상 요소 생성 */
    display: block; /* 요소를 블록으로 설정 */
    width: 100%; /* 밑줄 너비를 버튼 너비와 동일하게 설정 */
    height: 2px; /* 밑줄 높이를 2px로 설정 */
    background-color: #ea7824; /* 밑줄 색상을 주황색으로 설정 */
    position: absolute; /* 위치를 부모 기준으로 절대 위치 설정 */
    bottom: -6px; /* 텍스트 아래 6px에 위치 */
    left: 0; /* 왼쪽 정렬 */
    transform: scaleX(0); /* 초기 상태에서 밑줄 보이지 않게 설정 */
    transition: transform 0.3s ease; /* 호버 시 밑줄이 부드럽게 나타나도록 설정 */
}

/* 버튼 호버 시 밑줄 애니메이션 */
.button-container button:hover::after {
    transform: scaleX(1); /* 밑줄이 완전히 나타나도록 확대 */
}

/* 버튼 아래 작은 선 스타일 */
.small-line {
    width: 100%; /* 선의 너비를 화면 전체로 설정 */
    height: 2px; /* 선의 두께를 2px로 설정 */
    background-color: rgba(154, 149, 149, 0.3); /* 연한 회색 투명도 적용 */
    margin-top: 4px; /* 위쪽 여백 4px 설정 */
    padding: 0; /* 내부 여백 제거 */
}

/* 텍스트 컨테이너 스타일 */
.text-container {
    display: flex; /* 플렉스박스 적용 */
    flex-direction: column; /* 텍스트를 세로로 정렬 */
    align-items: center; /* 텍스트를 수평으로 중앙 정렬 */
    margin-top: -100px; /* 컨테이너 상단 여백을 -100px로 설정 */
}

/* 이미지 컨테이너 스타일 */
.image-container {
    display: flex; /* 플렉스박스 적용 */
    justify-content: center; /* 이미지를 수평으로 중앙 정렬 */
    align-items: center; /* 이미지를 수직으로 중앙 정렬 */
    width: 100%; /* 컨테이너 너비를 화면 전체로 설정 */
    margin-top: -60px; /* 컨테이너 상단 여백을 -60px로 설정 */
}

/* 배너 이미지 스타일 */
.banner1-image, .banner2-image {
    max-width: 100%; /* 이미지의 너비를 컨테이너 너비에 맞게 조정 */
    height: auto; /* 이미지 비율을 유지하며 높이를 자동 조정 */
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ea7824;
    color: white;
    border: none;
    width: 10px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    text-align: center;
}


.scroll-to-top:hover {
    background-color: #ea6f14;
}


